n8n-newsletter-workflow.json
{
  "name": "Aidan Moon — Newsletter Subscribe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscribe",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://aidanmoon.co.uk,https://www.aidanmoon.co.uk"
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "aidanmoon-newsletter-subscribe"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f1-first-name",
              "name": "first_name",
              "value": "={{ ($json.body.first_name || '').toString().trim() }}",
              "type": "string"
            },
            {
              "id": "f2-email",
              "name": "email",
              "value": "={{ ($json.body.email || '').toString().trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "f3-honeypot",
              "name": "website",
              "value": "={{ ($json.body.website || '').toString().trim() }}",
              "type": "string"
            },
            {
              "id": "f4-timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f5-source",
              "name": "source_url",
              "value": "={{ $json.headers.referer || $json.headers.origin || '' }}",
              "type": "string"
            },
            {
              "id": "f6-ip",
              "name": "ip",
              "value": "={{ ($json.headers['cf-connecting-ip'] || $json.headers['x-forwarded-for'] || $json.headers['x-real-ip'] || '').toString().split(',')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "f7-ua",
              "name": "user_agent",
              "value": "={{ $json.headers['user-agent'] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "v1-email-regex",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            },
            {
              "id": "v2-name-present",
              "leftValue": "={{ $json.first_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "v3-honeypot-empty",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Validate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Subscribers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "First Name": "={{ $json.first_name }}",
            "Email": "={{ $json.email }}",
            "Source URL": "={{ $json.source_url }}",
            "IP": "={{ $json.ip }}",
            "User Agent": "={{ $json.user_agent }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Timestamp",   "displayName": "Timestamp",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "First Name",  "displayName": "First Name",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Email",       "displayName": "Email",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Source URL",  "displayName": "Source URL",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "IP",          "displayName": "IP",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "User Agent",  "displayName": "User Agent",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [920, 220]
    },
    {
      "parameters": {
        "sendTo": "hello@aidanmoon.co.uk",
        "subject": "=New subscriber: {{ $json.first_name }} <{{ $json.email }}>",
        "emailType": "text",
        "message": "=A new subscriber joined the newsletter.\n\nName:   {{ $json.first_name }}\nEmail:  {{ $json.email }}\nTime:   {{ $json.timestamp }}\nPage:   {{ $json.source_url }}\nIP:     {{ $json.ip }}\nUA:     {{ $json.user_agent }}\n",
        "options": {}
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Notify Me",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1160, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f6666666-6666-4666-8666-666666666666",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: 'validation_failed' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a7777777-7777-4777-8777-777777777777",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Extract Fields", "type": "main", "index": 0 }]
      ]
    },
    "Extract Fields": {
      "main": [
        [{ "node": "Validate", "type": "main", "index": 0 }]
      ]
    },
    "Validate": {
      "main": [
        [{ "node": "Append to Sheet", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad Request", "type": "main", "index": 0 }]
      ]
    },
    "Append to Sheet": {
      "main": [
        [{ "node": "Notify Me", "type": "main", "index": 0 }]
      ]
    },
    "Notify Me": {
      "main": [
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
